.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container {
  text-align: -webkit-center;
}
.page-button {
  display: flex;
  /* align-self: center; */
  justify-content: space-around;
  margin-bottom: 5%;
}
